Repository alonso-m/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/cluster

.github/labeler.yaml:

---
area/ci:
  - ".github/**/*"
area/cluster:
  - "charts/**/*"
  - "clusters/**/*"

chore(deps): update renovatebot/github-action action to v34.157.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update helm release metrics-server to v3.8.4
  clusters/home/kube-system/metrics-server/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v34.157.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update helm release kube-prometheus-stack to v45.6.0
  clusters/home/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release nginx to v13.2.29
  clusters/home/self-hosted/blog-nginx/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v34.158.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update renovatebot/github-action action to v34.158.2
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update helm release kube-prometheus-stack to v45.7.0
  clusters/home/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release kube-prometheus-stack to v45.7.1
  clusters/home/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v34.159.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(ci): update flux components to v0.40.2
  clusters/home/flux-system/install/gotk-components.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v34.159.2
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(ci): update flux components to v0.41.0
  clusters/home/flux-system/install/gotk-components.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v35
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update helm release velero to v3.1.3
  clusters/home/backups/velero/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release velero to v3.1.4
  clusters/home/backups/velero/helm-release.yaml
Labels: area/cluster

chore(deps): update rclone/rclone docker tag to 1.62
  clusters/home/self-hosted/minio/backups/rclone-cronjob.yaml
Labels: area/cluster

chore(deps): update helm release nginx to v13.2.30
  clusters/home/self-hosted/blog-nginx/helm-release.yaml
Labels: area/cluster

chore(ci): update flux components to v0.41.1
  clusters/home/flux-system/install/gotk-components.yaml
Labels: area/cluster

chore(deps): update dependency fluxcd/flux2 to v0.41.2
  clusters/home/flux-system/install/gotk-components.yaml
Labels: area/cluster

chore(deps): update pre-commit hook adrienverge/yamllint to v1.30.0
  .pre-commit-config.yaml
Labels: none

chore(deps): update helm release nginx to v13.2.31
  clusters/home/self-hosted/blog-nginx/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release velero to v3.1.5
  clusters/home/backups/velero/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release kube-prometheus-stack to v45.8.0
  clusters/home/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release traefik to v21
  clusters/home/networking/traefik/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release nginx to v13.2.32
  clusters/home/self-hosted/blog-nginx/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release kube-prometheus-stack to v45.8.1
  clusters/home/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release loki to v4.10.0
  clusters/home/monitoring/loki/helm-release.yaml
Labels: area/cluster

chore(deps): update pre-commit hook lucas-c/pre-commit-hooks to v1.5.0
  .pre-commit-config.yaml
Labels: none

chore(deps): update pre-commit hook lucas-c/pre-commit-hooks to v1.5.1
  .pre-commit-config.yaml
Labels: none

chore(deps): update helm release nginx to v13.2.33
  clusters/home/self-hosted/blog-nginx/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release kube-prometheus-stack to v45.9.0
  clusters/home/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release kube-prometheus-stack to v45.9.1
  clusters/home/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

chore(ci): update flux components to v0.41.2
  clusters/home/flux-system/install/gotk-components.yaml
Labels: area/cluster

chore(deps): update helm release velero to v3.1.6
  clusters/home/backups/velero/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release cert-manager to v1.11.1
  clusters/home/cert-manager/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release metrics-server to v3.10.0
  clusters/home/kube-system/metrics-server/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release kube-prometheus-stack to v45.10.0
  clusters/home/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release kube-prometheus-stack to v45.10.1
  clusters/home/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

chore(deps): update ghcr.io/kube-vip/kube-vip docker tag to v0.5.12
  clusters/home/kube-system/kube-vip/daemon-set.yaml
Labels: area/cluster
