Repository alonso-m/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/cluster

.github/labeler.yaml:

---
area/ci:
  - ".github/**/*"
area/cluster:
  - "charts/**/*"
  - "clusters/**/*"

Specifying docker images
  clusters/home/monitoring/kustomization.yaml
Labels: area/cluster

Specifying docker images
  clusters/home/monitoring/loki/helm-release.yaml
Labels: area/cluster

Specifying docker images
  clusters/home/monitoring/loki/helm-release.yaml
Labels: area/cluster

Specifying docker images
  clusters/home/backups/velero/helm-release.yaml
  clusters/home/monitoring/loki/helm-release.yaml
Labels: area/cluster

Specifying docker images
  clusters/home/monitoring/kustomization.yaml
Labels: area/cluster

Specifying docker images
  clusters/home/monitoring/kustomization.yaml
Labels: area/cluster

chore(deps): update syncthing/syncthing docker tag to 1.18.6
  clusters/home/self-hosted/syncthing/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v31.53.2
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update ghcr.io/k8s-at-home/kubectl docker tag to v1.23.3
  clusters/home/backups/velero/helm-release.yaml
  clusters/pueblo/backups/velero/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release grafana to v6.21.1
  clusters/home/monitoring/grafana/helm-release.yaml
  clusters/pueblo/monitoring/grafana/helm-release.yaml
Labels: area/cluster

Trying to fix certificates
  clusters/home/self-hosted/blog-nginx/helm-release.yaml
Labels: area/cluster

Adding ClusterIP service
  clusters/home/self-hosted/blog-nginx/helm-release.yaml
  clusters/home/self-hosted/blog-nginx/ingress.yaml
Labels: area/cluster

Adding ClusterIP service
  clusters/home/self-hosted/blog-nginx/helm-release.yaml
Labels: area/cluster

Separating ingress
  clusters/home/self-hosted/blog-nginx/helm-release.yaml
  clusters/home/self-hosted/blog-nginx/ingress.yaml
  clusters/home/self-hosted/blog-nginx/kustomization.yaml
Labels: area/cluster

Separating ingress
  clusters/home/self-hosted/blog-nginx/ingress.yaml
Labels: area/cluster

chore(deps): update atlassian/bamboo docker tag to 8.1.2
  clusters/home/development/bamboo/helm-release.yaml
Labels: area/cluster

chore(deps): update atlassian/bamboo-agent-base docker tag to 8.1.2
  clusters/home/development/bamboo-agent/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release nginx to v9.7.5
  clusters/home/self-hosted/blog-nginx/helm-release.yaml
Labels: area/cluster

Enabling auto merge for github actions
  .github/renovate/autoMerge.json
Labels: area/ci

chore(deps): update helm release cert-manager to v1.6.2
  clusters/home/cert-manager/helm-release.yaml
  clusters/pueblo/cert-manager/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v31.53.2
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update renovatebot/github-action action to v31.58.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

Adding helm release differ workflow and scripts
  .github/scripts/helm-release-differ.sh
  .github/scripts/lib/functions.sh
  .github/workflows/helm-release-differy.yaml
Labels: area/ci

chore(deps): update helm release cert-manager to v1.7.0
  clusters/home/cert-manager/helm-release.yaml
  clusters/pueblo/cert-manager/helm-release.yaml
Labels: area/cluster

Removing unnecessary comments
  charts/kah-common/Chart.yaml
  clusters/home/cert-manager/config/letsencrypt-production.yaml
  clusters/home/databases/postgresql/helm-release.yaml
  clusters/home/flux-system/deploy/cluster-secrets.sops.yaml
  clusters/home/kube-system/kustomization.yaml
  clusters/home/monitoring/config/kured.yaml
  clusters/home/monitoring/config/kustomization.yaml
  clusters/home/monitoring/grafana/helm-release.yaml
  clusters/home/monitoring/kube-prometheus-stack/helm-release.yaml
  clusters/home/networking/config/middlewares/kustomization.yaml
  clusters/home/networking/traefik/helm-release.yaml
  clusters/home/networking/traefik/kustomization.yaml
  clusters/home/self-hosted/blog-nginx/helm-release.yaml
  clusters/home/self-hosted/changedetection-io/helm-release.yaml
  clusters/home/self-hosted/minio/secrets.sops.yaml
  clusters/home/self-hosted/syncthing/pvc.yaml
  clusters/pueblo/cert-manager/config/letsencrypt-production.yaml
  clusters/pueblo/cert-manager/config/letsencrypt-staging.yaml
  clusters/pueblo/kube-system/kured/helm-release.yaml
  clusters/pueblo/kube-system/kustomization.yaml
Labels: area/cluster

Restarting grafana
  clusters/home/monitoring/kustomization.yaml
Labels: area/cluster

Restarting grafana
  clusters/home/monitoring/kustomization.yaml
Labels: area/cluster

Fixing ingress class name
  clusters/home/kube-system/goldilocks/helm-release.yaml
  clusters/home/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

Moving services to ClusterIP
  clusters/home/self-hosted/syncthing/helm-release.yaml
Labels: area/cluster

Moving back to NodePort
  clusters/home/self-hosted/syncthing/helm-release.yaml
Labels: area/cluster

Picking up home cluster changes
  clusters/home/kube-system/kured/helm-release.yaml
  clusters/home/kube-system/kured/kustomization.yaml
  clusters/home/kube-system/kured/secrets.sops.yaml
  clusters/pueblo/kube-system/goldilocks/helm-release.yaml
  clusters/pueblo/kube-system/kured/helm-release.yaml
  clusters/pueblo/kube-system/kured/kustomization.yaml
  clusters/pueblo/kube-system/kured/secrets.sops.yaml
  clusters/pueblo/monitoring/botkube/helm-release.yaml
  clusters/pueblo/monitoring/config/kured.yaml
  clusters/pueblo/monitoring/grafana/helm-release.yaml
  clusters/pueblo/monitoring/kube-prometheus-stack/helm-release.yaml
  clusters/pueblo/monitoring/loki/helm-release.yaml
  clusters/pueblo/monitoring/promtail/helm-release.yaml
  clusters/pueblo/monitoring/thanos/helm-release.yaml
Labels: area/cluster

Running transmission as non root
  clusters/home/downloads/transmission/helm-release.yaml
Labels: area/cluster

Changing cluster name
  clusters/home/monitoring/botkube/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v31.58.4
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update terraform cloudflare to v3.8.0
  provision/terraform/cloudflare/.terraform.lock.hcl
  provision/terraform/cloudflare/main.tf
Labels: none

chore(deps): update renovatebot/github-action action to v31.58.5
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update helm release promtail to v3.11.0
  clusters/home/monitoring/promtail/helm-release.yaml
  clusters/pueblo/monitoring/promtail/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v31.59.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update helm release thanos to v9.0.2
  clusters/home/monitoring/thanos/helm-release.yaml
  clusters/pueblo/monitoring/thanos/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v31.60.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci
