Repository alonso-m/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/cluster

.github/labeler.yaml:

---
area/ci:
  - ".github/**/*"
area/cluster:
  - "charts/**/*"
  - "clusters/**/*"

chore(deps): update github/super-linter action to v5
  .github/workflows/lint.yaml
Labels: area/ci

chore(deps): update helm release nginx to v13.2.34
  clusters/home/self-hosted/blog-nginx/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release kube-prometheus-stack to v45.11.0
  clusters/home/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release kube-prometheus-stack to v45.11.1
  clusters/home/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release kube-prometheus-stack to v45.12.0
  clusters/home/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release kube-prometheus-stack to v45.14.0
  clusters/home/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release kube-prometheus-stack to v45.15.0
  clusters/home/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release loki to v5
  clusters/home/monitoring/loki/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release kube-prometheus-stack to v45.16.0
  clusters/home/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release kube-prometheus-stack to v45.17.0
  clusters/home/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release kube-prometheus-stack to v45.18.0
  clusters/home/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

chore(deps): update pre-commit hook adrienverge/yamllint to v1.31.0
  .pre-commit-config.yaml
Labels: none

chore(deps): update helm release kube-prometheus-stack to v45.19.0
  clusters/home/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release kube-prometheus-stack to v45.20.0
  clusters/home/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release velero to v3.2.0
  clusters/home/backups/velero/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release traefik to v22
  clusters/home/networking/traefik/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release kube-prometheus-stack to v45.21.0
  clusters/home/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release grafana to v6.55.1
  clusters/home/monitoring/grafana/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release kube-prometheus-stack to v45.22.0
  clusters/home/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release kube-prometheus-stack to v45.23.0
  clusters/home/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release kube-prometheus-stack to v45.24.0
  clusters/home/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release kube-prometheus-stack to v45.25.0
  clusters/home/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release kube-prometheus-stack to v45.26.0
  clusters/home/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release kube-prometheus-stack to v45.27.1
  clusters/home/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

chore(ci): update flux components to v2.0.0-rc.1
  clusters/home/flux-system/install/gotk-components.yaml
Labels: area/cluster

chore(deps): update helm release cert-manager to v1.11.2
  clusters/home/cert-manager/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release kube-prometheus-stack to v45.27.2
  clusters/home/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

chore(ci): update flux components to v2.0.0-rc.2
  clusters/home/flux-system/install/gotk-components.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v36
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update helm release kube-prometheus-stack to v45.28.0
  clusters/home/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release kube-prometheus-stack to v45.28.1
  clusters/home/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release kube-prometheus-stack to v45.29.0
  clusters/home/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release nginx to v14
  clusters/home/self-hosted/blog-nginx/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release kube-prometheus-stack to v45.30.0
  clusters/home/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

chore(deps): update pre-commit hook adrienverge/yamllint to v1.32.0
  .pre-commit-config.yaml
Labels: none

chore(deps): update helm release kube-prometheus-stack to v45.30.1
  clusters/home/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release kube-prometheus-stack to v45.31.0
  clusters/home/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release kube-prometheus-stack to v45.31.1
  clusters/home/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v37
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update helm release cert-manager to v1.11.3
  clusters/home/cert-manager/helm-release.yaml
Labels: area/cluster
