Repository alonso-m/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/cluster

chore(deps): update renovatebot/github-action action to v34.82.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update renovatebot/github-action action to v34.82.2
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update helm release thanos to v11.6.8
  clusters/home/monitoring/thanos/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v34.83.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update helm release reloader to v0.0.129
  clusters/home/kube-system/reloader/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v34.84.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update renovatebot/github-action action to v34.84.2
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update renovatebot/github-action action to v34.87.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update renovatebot/github-action action to v34.90.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update renovatebot/github-action action to v34.92.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update renovatebot/github-action action to v34.92.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update renovatebot/github-action action to v34.93.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update renovatebot/github-action action to v34.94.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(ci): update flux components to v0.38.2
  clusters/home/flux-system/install/gotk-components.yaml
Labels: area/cluster

chore(deps): update getsentry/action-github-app-token action to v2
  .github/workflows/schedule-kah-common.yaml
Labels: area/ci

chore(deps): update pre-commit hook adrienverge/yamllint to v1.29.0
  .pre-commit-config.yaml
Labels: none

chore(deps): update helm release cert-manager to v1.10.2
  clusters/home/cert-manager/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v34.97.5
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update helm release kube-prometheus-stack to v43.3.0
  clusters/home/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release cert-manager to v1.11.0
  clusters/home/cert-manager/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release loki to v3.10.0
  clusters/home/monitoring/loki/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v34.99.2
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update helm release kube-prometheus-stack to v43.3.1
  clusters/home/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v34.100.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update renovatebot/github-action action to v34.100.2
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update renovatebot/github-action action to v34.102.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update renovatebot/github-action action to v34.102.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update renovatebot/github-action action to v34.102.2
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update renovatebot/github-action action to v34.102.7
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update renovatebot/github-action action to v34.102.8
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update renovatebot/github-action action to v34.104.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update renovatebot/github-action action to v34.105.3
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update helm release pihole to v2.11.1
  clusters/home/networking/pihole/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v34.105.5
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update renovatebot/github-action action to v34.105.6
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update renovatebot/github-action action to v34.106.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update renovatebot/github-action action to v34.108.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update renovatebot/github-action action to v34.108.2
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update pre-commit hook lucas-c/pre-commit-hooks to v1.4.0
  .pre-commit-config.yaml
Labels: none

chore(deps): update renovatebot/github-action action to v34.108.3
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

.github/labeler.yaml:

---
area/ci:
  - ".github/**/*"
area/cluster:
  - "charts/**/*"
  - "clusters/**/*"
