Repository alonso-m/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/cluster

chore(deps): update helm release promtail to v6.15.3
  clusters/home/monitoring/promtail/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release kube-prometheus-stack to v51
  clusters/home/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release metallb to v0.13.12
  clusters/home/networking/metallb/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release traefik to v25
  clusters/home/networking/traefik/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release kube-prometheus-stack to v52
  clusters/home/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

chore(deps): update ealen/echo-server docker tag to 0.8.12
  clusters/home/self-hosted/echo-server/helm-release.yaml
Labels: area/cluster

chore(deps): update dgtlmoon/changedetection.io docker tag to 0.45.4
  clusters/home/self-hosted/changedetection-io/helm-release.yaml
Labels: area/cluster

chore(deps): update dgtlmoon/changedetection.io docker tag to 0.45.5
  clusters/home/self-hosted/changedetection-io/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release grafana to v6.61.2
  clusters/home/monitoring/grafana/helm-release.yaml
Labels: area/cluster

chore(deps): update pre-commit hook adrienverge/yamllint to v1.33.0
  .pre-commit-config.yaml
Labels: none

chore(deps): update dgtlmoon/changedetection.io docker tag to 0.45.7
  clusters/home/self-hosted/changedetection-io/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release kube-prometheus-stack to v53
  clusters/home/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

chore(deps): update pihole/pihole docker tag to 2023.11.0
  clusters/home/networking/pihole/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release kube-prometheus-stack to v54
  clusters/home/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

chore(deps): update rclone/rclone docker tag to 1.65
  clusters/home/self-hosted/minio/backups/rclone-cronjob.yaml
Labels: area/cluster

chore(deps): update rancher/system-upgrade-controller docker tag to v0.13.2
  clusters/home/kube-system/system-upgrade/kustomization.yaml
Labels: area/cluster

chore(deps): update dgtlmoon/changedetection.io docker tag to 0.45.8
  clusters/home/self-hosted/changedetection-io/helm-release.yaml
Labels: area/cluster

chore(ci): update flux components to v2.1.2
  clusters/home/flux-system/install/gotk-components.yaml
Labels: area/cluster

chore(deps): update ghcr.io/kube-vip/kube-vip docker tag to v0.6.4
  clusters/home/kube-system/kube-vip/daemon-set.yaml
Labels: area/cluster

chore(deps): update actions/labeler action to v5
  .github/workflows/meta-labeler.yaml
Labels: area/ci

chore(deps): update helm release trow to v0.6.4
  clusters/home/development/trow/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release traefik to v26
  clusters/home/networking/traefik/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release cert-manager to v1.13.3
  clusters/home/cert-manager/helm-release.yaml
Labels: area/cluster

chore(ci): update flux components to v2.2.0
  clusters/home/flux-system/install/gotk-components.yaml
Labels: area/cluster

chore(deps): update peter-evans/create-pull-request action to v5
  .github/workflows/schedule-flux-home.yaml
  .github/workflows/schedule-flux-pueblo.yaml
  .github/workflows/schedule-kah-common.yaml
Labels: area/ci

chore(ci): update flux components to v2.2.1
  clusters/home/flux-system/install/gotk-components.yaml
Labels: area/cluster

chore(deps): update quay.io/thanos/thanos docker tag to v0.33.0
  clusters/home/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release openebs to v3.10.0
  clusters/home/openebs/helm-release.yaml
Labels: area/cluster

chore(deps): update public.ecr.aws/bitnami/thanos docker tag to 0.33.0
  clusters/home/monitoring/thanos/helm-release.yaml
Labels: area/cluster

chore(deps): update dependency fluxcd/flux2 to v2.2.2
  clusters/home/flux-system/gotk-components.yaml
  clusters/home/flux-system/install/gotk-components.yaml
Labels: area/cluster

chore(deps): update dgtlmoon/changedetection.io docker tag to 0.45.9
  clusters/home/self-hosted/changedetection-io/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v39
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update syncthing/syncthing docker tag to 1.27.2
  clusters/home/self-hosted/syncthing/helm-release.yaml
Labels: area/cluster

chore(deps): update filebrowser/filebrowser docker tag to v2.27.0
  clusters/home/downloads/filebrowser/helm-release.yaml
Labels: area/cluster

chore(deps): update dgtlmoon/changedetection.io docker tag to 0.45.10
  clusters/home/self-hosted/changedetection-io/helm-release.yaml
Labels: area/cluster

chore(deps): update dgtlmoon/changedetection.io docker tag to 0.45.11
  clusters/home/self-hosted/changedetection-io/helm-release.yaml
Labels: area/cluster

chore(deps): update dgtlmoon/changedetection.io docker tag to 0.45.12
  clusters/home/self-hosted/changedetection-io/helm-release.yaml
Labels: area/cluster

chore(ci): update flux components to v2.2.2
  clusters/home/flux-system/install/gotk-components.yaml
Labels: area/cluster

chore(deps): update pihole/pihole docker tag to 2024.01.0
  clusters/home/networking/pihole/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release reloader to v1.0.62
  clusters/home/kube-system/reloader/helm-release.yaml
Labels: area/cluster

.github/labeler.yaml:

---
area/ci:
  - ".github/**/*"
area/cluster:
  - "charts/**/*"
  - "clusters/**/*"
