Repository alonso-m/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/cluster

chore(deps): update renovatebot/github-action action to v34.108.4
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update renovatebot/github-action action to v34.108.5
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update pre-commit hook lucas-c/pre-commit-hooks to v1.4.1
  .pre-commit-config.yaml
Labels: none

chore(deps): update helm release nginx to v13.2.22
  clusters/home/self-hosted/blog-nginx/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v34.109.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update pihole/pihole docker tag to 2023.01.10
  clusters/home/networking/pihole/helm-release.yaml
Labels: area/cluster

chore(deps): update pre-commit hook lucas-c/pre-commit-hooks to v1.4.2
  .pre-commit-config.yaml
Labels: none

chore(deps): update helm release velero to v3.1.2
  clusters/home/backups/velero/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release promtail to v6.8.2
  clusters/home/monitoring/promtail/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release nginx to v13.2.23
  clusters/home/self-hosted/blog-nginx/helm-release.yaml
Labels: area/cluster

chore(ci): update flux components to v0.38.3
  clusters/home/flux-system/install/gotk-components.yaml
Labels: area/cluster

chore(deps): update quay.io/thanos/thanos docker tag to v0.30.2
  clusters/home/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

chore(deps): update public.ecr.aws/bitnami/thanos docker tag to 0.30.2
  clusters/home/monitoring/thanos/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release grafana to v6.50.7
  clusters/home/monitoring/grafana/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v34.122.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update renovatebot/github-action action to v34.124.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update renovatebot/github-action action to v34.124.3
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update dgtlmoon/changedetection.io docker tag to 0.40.2
  clusters/home/self-hosted/changedetection-io/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v34.124.5
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update renovatebot/github-action action to v34.125.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update syncthing/syncthing docker tag to 1.23.1
  clusters/home/self-hosted/syncthing/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release reloader to v1
  clusters/home/kube-system/reloader/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v34.128.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update helm release kube-prometheus-stack to v44
  clusters/home/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

chore(deps): update ghcr.io/kube-vip/kube-vip docker tag to v0.5.9
  clusters/home/kube-system/kube-vip/daemon-set.yaml
Labels: area/cluster

chore(deps): update helm release loki to v4
  clusters/home/monitoring/loki/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v34.128.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update helm release thanos to v12
  clusters/home/monitoring/thanos/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release kube-prometheus-stack to v45
  clusters/home/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v34.128.2
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update renovatebot/github-action action to v34.128.3
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update renovatebot/github-action action to v34.130.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update renovatebot/github-action action to v34.131.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update renovatebot/github-action action to v34.132.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update renovatebot/github-action action to v34.132.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update helm release nginx to v13.2.24
  clusters/home/self-hosted/blog-nginx/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release loki to v4.6.1
  clusters/home/monitoring/loki/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release thanos to v12.0.5
  clusters/home/monitoring/thanos/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v34.136.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update helm release kube-prometheus-stack to v45.0.1
  clusters/home/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

.github/labeler.yaml:

---
area/ci:
  - ".github/**/*"
area/cluster:
  - "charts/**/*"
  - "clusters/**/*"
