Repository alonso-m/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/cluster

.github/labeler.yaml:

---
area/ci:
  - ".github/**/*"
area/cluster:
  - "charts/**/*"
  - "clusters/**/*"

chore(deps): update renovatebot/github-action action to v32.190.4
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update helm release traefik to v10.24.2
  clusters/home/networking/traefik/helm-release.yaml
  clusters/pueblo/networking/traefik/helm-release.yaml
Labels: area/cluster

chore(deps): update pihole/pihole docker tag to 2022.09.2
  clusters/home/networking/pihole/helm-release.yaml
Labels: area/cluster

chore(deps): update atlassian/bitbucket docker tag to 8.4.0
  clusters/home/development/bitbucket/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v32.190.6
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update syncthing/syncthing docker tag to 1.21.0
  clusters/home/self-hosted/syncthing/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release grafana to v6.36.3
  clusters/home/monitoring/grafana/helm-release.yaml
  clusters/pueblo/monitoring/grafana/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release nginx to v13.2.4
  clusters/home/self-hosted/blog-nginx/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v32.192.3
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update helm release velero to v2.31.4
  clusters/home/backups/velero/helm-release.yaml
  clusters/pueblo/backups/velero/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release velero to v2.31.5
  clusters/home/backups/velero/helm-release.yaml
  clusters/pueblo/backups/velero/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release loki to v3.0.1
  clusters/home/monitoring/loki/helm-release.yaml
  clusters/pueblo/monitoring/loki/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v32.194.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update dgtlmoon/changedetection.io docker tag to 0.39.19
  clusters/home/self-hosted/changedetection-io/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v32.194.2
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update helm release velero to v2.31.6
  clusters/home/backups/velero/helm-release.yaml
  clusters/pueblo/backups/velero/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v32.194.3
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update helm release loki to v3.0.3
  clusters/home/monitoring/loki/helm-release.yaml
  clusters/pueblo/monitoring/loki/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release promtail to v6.3.1
  clusters/home/monitoring/promtail/helm-release.yaml
  clusters/pueblo/monitoring/promtail/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release kube-prometheus-stack to v39.12.0
  clusters/home/monitoring/kube-prometheus-stack/helm-release.yaml
  clusters/pueblo/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v32.194.4
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update helm release kube-prometheus-stack to v39.12.1
  clusters/home/monitoring/kube-prometheus-stack/helm-release.yaml
  clusters/pueblo/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v32.194.5
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(ci): update flux components to v0.33.0
  clusters/pueblo/flux-system/install/gotk-components.yaml
Labels: area/cluster

chore(ci): update flux components to v0.33.0
  clusters/home/flux-system/install/gotk-components.yaml
Labels: area/cluster

chore(deps): update pre-commit hook adrienverge/yamllint to v1.28.0
  .pre-commit-config.yaml
Labels: none

chore(deps): update atlassian/bitbucket docker tag to 8.4.1
  clusters/home/development/bitbucket/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release postgresql to v11.8.2
  clusters/home/databases/postgresql/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v32.195.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update helm release kube-prometheus-stack to v39.13.0
  clusters/home/monitoring/kube-prometheus-stack/helm-release.yaml
  clusters/pueblo/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release kube-prometheus-stack to v39.13.1
  clusters/home/monitoring/kube-prometheus-stack/helm-release.yaml
  clusters/pueblo/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release kube-prometheus-stack to v39.13.3
  clusters/home/monitoring/kube-prometheus-stack/helm-release.yaml
  clusters/pueblo/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v32.195.3
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update helm release thanos to v11.4.1
  clusters/home/monitoring/thanos/helm-release.yaml
  clusters/pueblo/monitoring/thanos/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v32.195.5
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update helm release loki to v3.0.4
  clusters/home/monitoring/loki/helm-release.yaml
  clusters/pueblo/monitoring/loki/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release loki to v3.0.5
  clusters/home/monitoring/loki/helm-release.yaml
  clusters/pueblo/monitoring/loki/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release loki to v3.0.6
  clusters/home/monitoring/loki/helm-release.yaml
  clusters/pueblo/monitoring/loki/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release loki to v3.0.7
  clusters/home/monitoring/loki/helm-release.yaml
  clusters/pueblo/monitoring/loki/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v32.196.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci
