Repository alonso-m/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/cluster

.github/labeler.yaml:

---
area/ci:
  - ".github/**/*"
area/cluster:
  - "charts/**/*"
  - "clusters/**/*"

Adding private registry credentials
  clusters/home/self-hosted/minio/backups/docker-credentials.sops.yaml
  clusters/home/self-hosted/minio/backups/kustomization.yaml
  clusters/home/self-hosted/minio/backups/rsync-cronjob.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v31.70.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update helm release pihole to v2.5.6
  clusters/home/networking/pihole/helm-release.yaml
Labels: area/cluster

Adding private registry credentials
  .github/renovate/autoMerge.json
  clusters/home/self-hosted/minio/backups/docker-credentials.sops.yaml
  clusters/home/self-hosted/minio/backups/kustomization.yaml
  clusters/home/self-hosted/minio/backups/secrets.sops.yaml
Labels: area/ci, area/cluster

chore(deps): update helm release pihole to v2.5.6
  clusters/home/networking/pihole/helm-release.yaml
Labels: area/cluster

Adding tolerations for metric server
  clusters/pueblo/kube-system/metrics-server/helm-release.yaml
Labels: area/cluster

Changing auto merge rules
  .github/renovate/autoMerge.json
Labels: area/ci

chore(deps): update ghcr.io/kube-vip/kube-vip docker tag to v0.4.2
  clusters/home/kube-system/kube-vip/daemon-set.yaml
  clusters/pueblo/kube-system/kube-vip/daemon-set.yaml
Labels: area/cluster

chore(deps): update helm release traefik to v10.14.1
  clusters/home/networking/traefik/helm-release.yaml
  clusters/pueblo/networking/traefik/helm-release.yaml
Labels: area/cluster

chore(deps): update ghcr.io/k8s-at-home/grafana docker tag to v8.3.6
  clusters/home/monitoring/grafana/helm-release.yaml
  clusters/pueblo/monitoring/grafana/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release metrics-server to v3.8.1
  clusters/home/kube-system/metrics-server/helm-release.yaml
  clusters/pueblo/kube-system/metrics-server/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v31.71.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

Adding private registry credentials
  clusters/pueblo/kube-system/metrics-server/helm-release.yaml
Labels: area/cluster

Enabling
  clusters/pueblo/kube-system/metrics-server/kustomization.yaml
Labels: area/cluster

Enabling
  clusters/pueblo/kube-system/metrics-server/kustomization.yaml
Labels: area/cluster

Enabling
  clusters/pueblo/kube-system/kustomization.yaml
Labels: area/cluster

Enabling
  clusters/pueblo/kube-system/kustomization.yaml
Labels: area/cluster

chore(deps): update helm release thanos to v9.0.4
  clusters/home/monitoring/thanos/helm-release.yaml
  clusters/pueblo/monitoring/thanos/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release kube-prometheus-stack to v32
  clusters/home/monitoring/kube-prometheus-stack/helm-release.yaml
  clusters/pueblo/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v31.72.2
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update renovatebot/github-action action to v31.73.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update helm release grafana to v6.21.3
  clusters/home/monitoring/grafana/helm-release.yaml
  clusters/pueblo/monitoring/grafana/helm-release.yaml
Labels: area/cluster

Deleting cronjobs
  clusters/home/kube-system/kube-cleanup-operator/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v31.74.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

Create README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

chore(deps): update pre-commit hook lucas-c/pre-commit-hooks to v1.1.12
  .pre-commit-config.yaml
Labels: none

chore(deps): update helm release grafana to v6.21.4
  clusters/home/monitoring/grafana/helm-release.yaml
  clusters/pueblo/monitoring/grafana/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v31.77.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(ci): update flux components to v0.26.3
  clusters/pueblo/flux-system/install/gotk-components.yaml
Labels: area/cluster

chore(ci): update flux components to v0.26.3
  clusters/home/flux-system/install/gotk-components.yaml
Labels: area/cluster

chore(deps): update ghcr.io/k8s-at-home/velero-plugin-for-aws docker tag to v1.4.0
  clusters/home/backups/velero/helm-release.yaml
  clusters/pueblo/backups/velero/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release grafana to v6.21.5
  clusters/home/monitoring/grafana/helm-release.yaml
  clusters/pueblo/monitoring/grafana/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v31.78.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update renovatebot/github-action action to v31.79.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update renovatebot/github-action action to v31.80.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update renovatebot/github-action action to v31.80.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci
