Repository alonso-m/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/cluster

chore(deps): update pre-commit hook lucas-c/pre-commit-hooks to v1.2.0
  .pre-commit-config.yaml
Labels: none

chore(deps): update KaH common library chart
  charts/kah-common/charts/common-4.4.0.tgz
  charts/kah-common/charts/common-4.4.2.tgz
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v32.59.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update helm release thanos to v10.4.0
  clusters/home/monitoring/thanos/helm-release.yaml
  clusters/pueblo/monitoring/thanos/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v32.60.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(ci): update flux components to v0.30.2
  clusters/pueblo/flux-system/install/gotk-components.yaml
Labels: area/cluster

chore(ci): update flux components to v0.30.2
  clusters/home/flux-system/install/gotk-components.yaml
Labels: area/cluster

Disabling rsync job
  clusters/home/self-hosted/minio/backups/kustomization.yaml
Labels: area/cluster

Removing unnecessary discord alerts
  clusters/home/monitoring/config/flux-system.yaml
Labels: area/cluster

chore(deps): update helm release grafana to v6.29.3
  clusters/home/monitoring/grafana/helm-release.yaml
  clusters/pueblo/monitoring/grafana/helm-release.yaml
Labels: area/cluster

chore(deps): update helm values atlassian/bamboo to 8.2.3
  clusters/home/development/bamboo/helm-release.yaml
Labels: area/cluster

chore(deps): update helm values atlassian/bamboo-agent-base to 8.2.3
  clusters/home/development/bamboo-agent/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release nginx to v11.1.1
  clusters/home/self-hosted/blog-nginx/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v32.62.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update renovatebot/github-action action to v32.63.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update helm values ghcr.io/k8s-at-home/grafana to v8.5.3
  clusters/home/monitoring/grafana/helm-release.yaml
  clusters/pueblo/monitoring/grafana/helm-release.yaml
Labels: area/cluster

Removing unnecessary discord alerts
  clusters/home/self-hosted/minio/backups/kustomization.yaml
Labels: area/cluster

chore(deps): update helm release nginx to v11.1.2
  clusters/home/self-hosted/blog-nginx/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release velero to v2.29.6
  clusters/home/backups/velero/helm-release.yaml
  clusters/pueblo/backups/velero/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v32.64.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update helm release grafana to v6.29.4
  clusters/home/monitoring/grafana/helm-release.yaml
  clusters/pueblo/monitoring/grafana/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release thanos to v10.4.1
  clusters/home/monitoring/thanos/helm-release.yaml
  clusters/pueblo/monitoring/thanos/helm-release.yaml
Labels: area/cluster

chore(deps): update helm values ealen/echo-server to 0.5.2
  clusters/home/self-hosted/echo-server/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v32.64.2
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update helm release kube-prometheus-stack to v35.3.0
  clusters/home/monitoring/kube-prometheus-stack/helm-release.yaml
  clusters/pueblo/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release nginx to v11.1.4
  clusters/home/self-hosted/blog-nginx/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release thanos to v10.4.2
  clusters/home/monitoring/thanos/helm-release.yaml
  clusters/pueblo/monitoring/thanos/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release nginx to v11.1.5
  clusters/home/self-hosted/blog-nginx/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release kube-prometheus-stack to v35.3.1
  clusters/home/monitoring/kube-prometheus-stack/helm-release.yaml
  clusters/pueblo/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v32.64.4
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update helm values atlassian/bitbucket to 8.1.0
  clusters/home/development/bitbucket/helm-release.yaml
Labels: area/cluster

Update autoMerge.json
  .github/renovate/autoMerge.json
Labels: area/ci

chore(deps): update helm values dgtlmoon/changedetection.io to 0.39.14
  clusters/home/self-hosted/changedetection-io/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v32.64.8
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update helm values ghcr.io/k8s-at-home/vaultwarden to v1.25.0
  clusters/home/self-hosted/vaultwarden/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release vaultwarden to v4.2.3
  clusters/home/self-hosted/vaultwarden/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v32.64.9
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update helm release promtail to v4.2.1
  clusters/home/monitoring/promtail/helm-release.yaml
  clusters/pueblo/monitoring/promtail/helm-release.yaml
Labels: area/cluster

chore(deps): update pre-commit hook k8s-at-home/sops-pre-commit to v2.1.1
  .pre-commit-config.yaml
Labels: none

chore(deps): update renovatebot/github-action action to v32.66.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

.github/labeler.yaml:

---
area/ci:
  - ".github/**/*"
area/cluster:
  - "charts/**/*"
  - "clusters/**/*"
