Repository alonso-m/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/cluster

.github/labeler.yaml:

---
area/ci:
  - ".github/**/*"
area/cluster:
  - "charts/**/*"
  - "clusters/**/*"

chore(deps): update helm values filebrowser/filebrowser to v2.22.1
  clusters/home/downloads/filebrowser/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release promtail to v5
  clusters/home/monitoring/promtail/helm-release.yaml
  clusters/pueblo/monitoring/promtail/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release nginx to v12.0.2
  clusters/home/self-hosted/blog-nginx/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v32.76.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update helm values syncthing/syncthing to 1.20.2
  clusters/home/self-hosted/syncthing/helm-release.yaml
Labels: area/cluster

chore(deps): update pre-commit hook pre-commit/pre-commit-hooks to v4.3.0
  .pre-commit-config.yaml
Labels: none

chore(deps): update helm values ghcr.io/k8s-at-home/grafana to v8.5.5
  clusters/home/monitoring/grafana/helm-release.yaml
  clusters/pueblo/monitoring/grafana/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v32.78.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(ci): update flux components to v0.31.0
  clusters/home/flux-system/install/gotk-components.yaml
Labels: area/cluster

chore(ci): update flux components to v0.31.0
  clusters/pueblo/flux-system/install/gotk-components.yaml
Labels: area/cluster

chore(deps): update helm release nginx to v12.0.3
  clusters/home/self-hosted/blog-nginx/helm-release.yaml
Labels: area/cluster

chore(deps): update helm values atlassian/bitbucket to 8.1.1
  clusters/home/development/bitbucket/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release thanos to v10.5.2
  clusters/home/monitoring/thanos/helm-release.yaml
  clusters/pueblo/monitoring/thanos/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release nginx to v12.0.4
  clusters/home/self-hosted/blog-nginx/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release velero to v2.29.8
  clusters/home/backups/velero/helm-release.yaml
  clusters/pueblo/backups/velero/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v32.80.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update renovatebot/github-action action to v32.82.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update helm release kube-prometheus-stack to v35.5.2
  clusters/home/monitoring/kube-prometheus-stack/helm-release.yaml
  clusters/pueblo/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release kube-prometheus-stack to v35.5.3
  clusters/home/monitoring/kube-prometheus-stack/helm-release.yaml
  clusters/pueblo/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v32.82.2
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update helm release kube-prometheus-stack to v35.5.4
  clusters/home/monitoring/kube-prometheus-stack/helm-release.yaml
  clusters/pueblo/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release kube-prometheus-stack to v35.6.1
  clusters/home/monitoring/kube-prometheus-stack/helm-release.yaml
  clusters/pueblo/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release grafana to v6.29.7
  clusters/home/monitoring/grafana/helm-release.yaml
  clusters/pueblo/monitoring/grafana/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release kube-prometheus-stack to v35.6.2
  clusters/home/monitoring/kube-prometheus-stack/helm-release.yaml
  clusters/pueblo/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release grafana to v6.29.9
  clusters/home/monitoring/grafana/helm-release.yaml
  clusters/pueblo/monitoring/grafana/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release grafana to v6.29.10
  clusters/home/monitoring/grafana/helm-release.yaml
  clusters/pueblo/monitoring/grafana/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release grafana to v6.29.11
  clusters/home/monitoring/grafana/helm-release.yaml
  clusters/pueblo/monitoring/grafana/helm-release.yaml
Labels: area/cluster

chore(deps): update helm values ghcr.io/k8s-at-home/jellyfin to v10.8.0
  clusters/home/downloads/jellyfin/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v32.83.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update renovatebot/github-action action to v32.83.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update renovatebot/github-action action to v32.83.2
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update helm values dgtlmoon/changedetection.io to 0.39.15
  clusters/home/self-hosted/changedetection-io/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v32.83.3
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update helm release loki to v2.12.1
  clusters/home/monitoring/loki/helm-release.yaml
  clusters/pueblo/monitoring/loki/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v32.85.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update helm values atlassian/bamboo to 8.2.4
  clusters/home/development/bamboo/helm-release.yaml
Labels: area/cluster

chore(deps): update helm values atlassian/bamboo-agent-base to 8.2.4
  clusters/home/development/bamboo-agent/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release cert-manager to v1.8.1
  clusters/home/cert-manager/helm-release.yaml
  clusters/pueblo/cert-manager/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v32.86.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update renovatebot/github-action action to v32.87.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci
