Repository alonso-m/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/cluster

.github/labeler.yaml:

---
area/ci:
  - ".github/**/*"
area/cluster:
  - "charts/**/*"
  - "clusters/**/*"

chore(deps): update renovatebot/github-action action to v32.159.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update helm release grafana to v6.32.14
  clusters/home/monitoring/grafana/helm-release.yaml
  clusters/pueblo/monitoring/grafana/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v32.159.5
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update helm release kube-prometheus-stack to v39.7.0
  clusters/home/monitoring/kube-prometheus-stack/helm-release.yaml
  clusters/pueblo/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release promtail to v6.2.3
  clusters/home/monitoring/promtail/helm-release.yaml
  clusters/pueblo/monitoring/promtail/helm-release.yaml
Labels: area/cluster

chore(deps): update pre-commit hook lucas-c/pre-commit-hooks to v1.3.1
  .pre-commit-config.yaml
Labels: none

chore(deps): update ghcr.io/k8s-at-home/grafana docker tag to v9.1.0
  clusters/home/monitoring/grafana/helm-release.yaml
  clusters/pueblo/monitoring/grafana/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v32.160.2
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update renovatebot/github-action action to v32.161.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update ghcr.io/k8s-at-home/velero docker tag to v1.9.1
  clusters/home/backups/velero/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release kube-prometheus-stack to v39.8.0
  clusters/home/monitoring/kube-prometheus-stack/helm-release.yaml
  clusters/pueblo/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v32.161.2
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update ghcr.io/k8s-at-home/kubectl docker tag to v1.24.4
  clusters/home/backups/velero/helm-release.yaml
  clusters/pueblo/backups/velero/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v32.163.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update helm release nginx to v13.1.8
  clusters/home/self-hosted/blog-nginx/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release velero to v2.31.2
  clusters/home/backups/velero/helm-release.yaml
  clusters/pueblo/backups/velero/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v32.164.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update helm release promtail to v6.3.0
  clusters/home/monitoring/promtail/helm-release.yaml
  clusters/pueblo/monitoring/promtail/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v32.165.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update helm release velero to v2.31.3
  clusters/home/backups/velero/helm-release.yaml
  clusters/pueblo/backups/velero/helm-release.yaml
Labels: area/cluster

chore(deps): update dgtlmoon/changedetection.io docker tag to 0.39.18
  clusters/home/self-hosted/changedetection-io/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v32.165.3
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update renovatebot/github-action action to v32.166.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update renovatebot/github-action action to v32.167.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update renovatebot/github-action action to v32.168.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update helm release grafana to v6.32.15
  clusters/home/monitoring/grafana/helm-release.yaml
  clusters/pueblo/monitoring/grafana/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release kube-prometheus-stack to v39.9.0
  clusters/home/monitoring/kube-prometheus-stack/helm-release.yaml
  clusters/pueblo/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v32.169.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update renovatebot/github-action action to v32.169.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update atlassian/bitbucket docker tag to 8.3.1
  clusters/home/development/bitbucket/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release grafana to v6.32.17
  clusters/home/monitoring/grafana/helm-release.yaml
  clusters/pueblo/monitoring/grafana/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v32.171.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update helm release pihole to v2.9.2
  clusters/home/networking/pihole/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release grafana to v6.32.18
  clusters/home/monitoring/grafana/helm-release.yaml
  clusters/pueblo/monitoring/grafana/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v32.172.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update helm release postgresql to v11.8.1
  clusters/home/databases/postgresql/helm-release.yaml
Labels: area/cluster

chore(deps): update ghcr.io/k8s-at-home/kubectl docker tag to v1.25.0
  clusters/home/backups/velero/helm-release.yaml
  clusters/pueblo/backups/velero/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v32.173.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update helm release grafana to v6.33.0
  clusters/home/monitoring/grafana/helm-release.yaml
  clusters/pueblo/monitoring/grafana/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v32.174.2
  .github/workflows/schedule-renovate.yaml
Labels: area/ci
