Repository alonso-m/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/cluster

.github/labeler.yaml:

---
area/ci:
  - ".github/**/*"
area/cluster:
  - "charts/**/*"
  - "clusters/**/*"

chore(deps): update renovatebot/github-action action to v34.26.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update renovatebot/github-action action to v34.26.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update helm release kube-prometheus-stack to v41.8.0
  clusters/home/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v34.26.2
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update helm release kube-prometheus-stack to v41.9.0
  clusters/home/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

chore(deps): update rancher/system-upgrade-controller docker tag to v0.10.0
  clusters/home/kube-system/system-upgrade/kustomization.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v34.26.4
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update renovatebot/github-action action to v34.27.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update renovatebot/github-action action to v34.27.3
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update renovatebot/github-action action to v34.28.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update helm release kube-prometheus-stack to v41.9.1
  clusters/home/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

chore(deps): update dgtlmoon/changedetection.io docker tag to 0.39.22
  clusters/home/self-hosted/changedetection-io/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v34.28.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update renovatebot/github-action action to v34.29.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update renovatebot/github-action action to v34.29.2
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update helm release cert-manager to v1.10.1
  clusters/home/cert-manager/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v34.30.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update helm release velero to v2.32.3
  clusters/home/backups/velero/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v34.30.2
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update helm release nginx to v13.2.14
  clusters/home/self-hosted/blog-nginx/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v34.31.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update pre-commit hook pre-commit/pre-commit-hooks to v4.4.0
  .pre-commit-config.yaml
Labels: none

chore(deps): update renovatebot/github-action action to v34.32.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update public.ecr.aws/bitnami/thanos docker tag to 0.29.0
  clusters/home/monitoring/thanos/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v34.34.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update renovatebot/github-action action to v34.37.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update renovatebot/github-action action to v34.39.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update renovatebot/github-action action to v34.39.3
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update renovatebot/github-action action to v34.40.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update pihole/pihole docker tag to 2022.11.2
  clusters/home/networking/pihole/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v34.40.2
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update syncthing/syncthing docker tag to 1.22.2
  clusters/home/self-hosted/syncthing/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v34.41.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update renovatebot/github-action action to v34.42.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update ghcr.io/kube-vip/kube-vip docker tag to v0.5.7
  clusters/home/kube-system/kube-vip/daemon-set.yaml
Labels: area/cluster

chore(deps): update helm release promtail to v6.6.3
  clusters/home/monitoring/promtail/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v34.44.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update helm release pihole to v2.11.0
  clusters/home/networking/pihole/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v34.47.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update renovatebot/github-action action to v34.47.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci
