Repository alonso-m/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/cluster

chore(deps): update dependency community.general to v4.4.0
  provision/ansible/requirements.yml
Labels: none

chore(deps): update syncthing/syncthing docker tag to 1.19.0
  clusters/home/self-hosted/syncthing/helm-release.yaml
Labels: area/cluster

Moving provisioning to another repo
  .gitignore
  ansible.cfg
  clusters/pueblo/monitoring/grafana/helm-release.yaml
  configure.sh
  provision/ansible/inventory/group_vars/kubernetes/k3s.yml
  provision/ansible/inventory/group_vars/kubernetes/kube-vip.yml
  provision/ansible/inventory/group_vars/kubernetes/ubuntu.yml
  provision/ansible/inventory/group_vars/master/k3s.yml
  provision/ansible/inventory/group_vars/worker/k3s.yml
  provision/ansible/inventory/host_vars/.gitkeep
  provision/ansible/inventory/host_vars/control-plane-1.sops.yml
  provision/ansible/inventory/host_vars/control-plane-2.sops.yml
  provision/ansible/inventory/host_vars/control-plane-3.sops.yml
  provision/ansible/inventory/host_vars/worker-node-1.sops.yml
  provision/ansible/inventory/hosts.yml
  provision/ansible/playbooks/files/cmdline.txt
  provision/ansible/playbooks/files/usercfg.txt
  provision/ansible/playbooks/k3s-install.yml
  provision/ansible/playbooks/k3s-nuke.yml
  provision/ansible/playbooks/reboot.yml
  provision/ansible/playbooks/rpi-prepare.yml
  provision/ansible/playbooks/templates/calico-installation.yaml.j2
  provision/ansible/playbooks/templates/kube-vip-daemonset.yaml.j2
  provision/ansible/playbooks/templates/kube-vip-rbac.yaml.j2
  provision/ansible/playbooks/ubuntu-prepare.yml
  provision/ansible/playbooks/ubuntu-upgrade.yml
  provision/ansible/requirements.yml
  provision/ansible/roles/ubuntu/tasks/filesystem.yml
  provision/ansible/roles/ubuntu/tasks/locale.yml
  provision/ansible/roles/ubuntu/tasks/main.yml
  provision/ansible/roles/ubuntu/tasks/network.yml
  provision/ansible/roles/ubuntu/tasks/packages.yml
  provision/ansible/roles/ubuntu/tasks/user.yml
  provision/terraform/cloudflare/.terraform.lock.hcl
  provision/terraform/cloudflare/main.tf
  provision/terraform/cloudflare/secret.sops.yaml
Labels: area/cluster

Moving provisioning to another repo
  .sops.yaml
Labels: none

Moving provisioning to another repo
  .gitignore
Labels: none

Removing helm release differ
  .github/scripts/helm-release-differ.sh
  .github/scripts/lib/functions.sh
  .github/workflows/helm-release-differ.yaml
Labels: area/ci

chore(deps): update renovatebot/github-action action to v31.65.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update helm release nginx to v9.7.6
  clusters/home/self-hosted/blog-nginx/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v31.65.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update helm release kube-prometheus-stack to v31
  clusters/home/monitoring/kube-prometheus-stack/helm-release.yaml
  clusters/pueblo/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release thanos to v9.0.3
  clusters/home/monitoring/thanos/helm-release.yaml
  clusters/pueblo/monitoring/thanos/helm-release.yaml
Labels: area/cluster

chore(ci): update flux components to v0.26.0
  clusters/home/flux-system/install/gotk-components.yaml
Labels: area/cluster

Fixing renovate
  .github/renovate.json5
Labels: area/ci

Fixing renovate
  .github/workflows/schedule-flux-home.yaml
  .github/workflows/schedule-flux-pueblo.yaml
Labels: area/ci

chore(deps): update renovatebot/github-action action to v31.66.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

Adding rclone cronjob
  clusters/home/backups/velero/helm-release.yaml
  clusters/home/self-hosted/minio/s3-sync/kustomization.yaml
  clusters/home/self-hosted/minio/s3-sync/rclone-cronjob.yaml
  clusters/home/self-hosted/minio/s3-sync/secrets.sops.yaml
Labels: area/cluster

Adding rclone cronjob
  clusters/home/self-hosted/minio/s3-sync/rclone-cronjob.yaml
Labels: area/cluster

Adding rclone cronjob
  clusters/home/self-hosted/minio/s3-sync/secrets.sops.yaml
Labels: area/cluster

Adding rclone cronjob
  clusters/home/self-hosted/minio/s3-sync/rclone-cronjob.yaml
Labels: area/cluster

Adding rclone cronjob
  clusters/home/self-hosted/minio/s3-sync/rclone-cronjob.yaml
Labels: area/cluster

Adding rclone cronjob
  clusters/home/self-hosted/minio/s3-sync/rclone-cronjob.yaml
Labels: area/cluster

Adding rclone cronjob
  clusters/home/self-hosted/minio/s3-sync/rclone-cronjob.yaml
Labels: area/cluster

Adding rclone cronjob
  clusters/home/backups/velero/helm-release.yaml
  clusters/home/self-hosted/minio/backups/kustomization.yaml
  clusters/home/self-hosted/minio/backups/rclone-cronjob.yaml
  clusters/home/self-hosted/minio/backups/rsync-cronjob.yaml
  clusters/home/self-hosted/minio/backups/secrets.sops.yaml
  clusters/home/self-hosted/minio/kustomization.yaml
  clusters/home/self-hosted/minio/pvc.yaml
Labels: area/cluster

Adding rsync cronjob
  clusters/home/self-hosted/minio/backups/rsync-cronjob.yaml
Labels: area/cluster

Adding rsync cronjob
  clusters/home/self-hosted/minio/backups/rsync-cronjob.yaml
Labels: area/cluster

Removing goldilocks
  clusters/home/kube-system/goldilocks/helm-release.yaml
  clusters/home/kube-system/goldilocks/kustomization.yaml
  clusters/home/kube-system/kustomization.yaml
Labels: area/cluster

1 local back up only
  clusters/home/self-hosted/minio/backups/rsync-cronjob.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v31.66.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

Correcting cluster names
  clusters/home/monitoring/botkube/helm-release.yaml
  clusters/pueblo/monitoring/botkube/helm-release.yaml
Labels: area/cluster

Correcting rconf.conf
  clusters/home/self-hosted/minio/backups/secrets.sops.yaml
Labels: area/cluster

Correcting dry-run
  clusters/home/self-hosted/minio/backups/rclone-cronjob.yaml
Labels: area/cluster

Correcting dry-run
  clusters/home/self-hosted/minio/backups/rclone-cronjob.yaml
Labels: area/cluster

chore(deps): update helm release postgresql to v11
  clusters/home/databases/postgresql/helm-release.yaml
Labels: area/cluster

Don't delete from cronjobs
  clusters/home/kube-system/kube-cleanup-operator/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release traefik to v10.14.0
  clusters/home/networking/traefik/helm-release.yaml
  clusters/pueblo/networking/traefik/helm-release.yaml
Labels: area/cluster

chore(ci): update flux components to v0.26.0
  clusters/pueblo/flux-system/install/gotk-components.yaml
Labels: area/cluster

chore(ci): update flux components to v0.26.0
  clusters/home/flux-system/install/gotk-components.yaml
Labels: area/cluster

Disabling rsync
  clusters/home/self-hosted/minio/backups/kustomization.yaml
Labels: area/cluster

chore(deps): update helm release cert-manager to v1.7.1
  clusters/home/cert-manager/helm-release.yaml
  clusters/pueblo/cert-manager/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v31.66.3
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

.github/labeler.yaml:

---
area/ci:
  - ".github/**/*"
area/cluster:
  - "charts/**/*"
  - "clusters/**/*"
