Repository alonso-m/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/cluster

chore(deps): update pihole/pihole docker tag to 2022.02.1
  clusters/home/networking/pihole/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v31.81.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update helm release reloader to v0.0.105
  clusters/home/kube-system/reloader/helm-release.yaml
  clusters/pueblo/kube-system/reloader/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v31.81.2
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update helm release vaultwarden to v4.0.1
  clusters/home/self-hosted/vaultwarden/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release bamboo to v1.2.0
  clusters/home/development/bamboo/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release bamboo-agent to v1.2.0
  clusters/home/development/bamboo-agent/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release bitbucket to v1.2.0
  clusters/home/development/bitbucket/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v31.81.3
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update helm values quay.io/bitnami/postgresql to 14
  clusters/home/databases/postgresql/helm-release.yaml
Labels: area/cluster

chore(deps): update helm values ghcr.io/k8s-at-home/velero to v1.8.0
  clusters/home/backups/velero/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release kube-prometheus-stack to v32.2.1
  clusters/home/monitoring/kube-prometheus-stack/helm-release.yaml
  clusters/pueblo/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release velero to v2.27.4
  clusters/home/backups/velero/helm-release.yaml
  clusters/pueblo/backups/velero/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release metallb to v0.12.0
  clusters/home/networking/metallb/helm-release.yaml
  clusters/pueblo/networking/metallb/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release grafana to v6.21.6
  clusters/home/monitoring/grafana/helm-release.yaml
  clusters/pueblo/monitoring/grafana/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release velero to v2.27.5
  clusters/home/backups/velero/helm-release.yaml
  clusters/pueblo/backups/velero/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release metallb to v0.12.1
  clusters/home/networking/metallb/helm-release.yaml
  clusters/pueblo/networking/metallb/helm-release.yaml
Labels: area/cluster

chore(deps): update helm values ghcr.io/k8s-at-home/qbittorrent to v4.4.1
  clusters/home/downloads/qbittorrent/helm-release.yaml
Labels: area/cluster

chore(deps): update helm values ghcr.io/k8s-at-home/grafana to v8.4.0
  clusters/home/monitoring/grafana/helm-release.yaml
  clusters/pueblo/monitoring/grafana/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release grafana to v6.21.7
  clusters/home/monitoring/grafana/helm-release.yaml
  clusters/pueblo/monitoring/grafana/helm-release.yaml
Labels: area/cluster

chore(deps): update helm values ghcr.io/k8s-at-home/kubectl to v1.23.4
  clusters/home/backups/velero/helm-release.yaml
  clusters/pueblo/backups/velero/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release loki to v2.9.2
  clusters/home/monitoring/loki/helm-release.yaml
  clusters/pueblo/monitoring/loki/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release grafana to v6.21.8
  clusters/home/monitoring/grafana/helm-release.yaml
  clusters/pueblo/monitoring/grafana/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release loki to v2.10.0
  clusters/home/monitoring/loki/helm-release.yaml
  clusters/pueblo/monitoring/loki/helm-release.yaml
Labels: area/cluster

chore(deps): update helm values atlassian/bamboo to 8.1.3
  clusters/home/development/bamboo/helm-release.yaml
Labels: area/cluster

chore(deps): update helm values atlassian/bamboo-agent-base to 8.1.3
  clusters/home/development/bamboo-agent/helm-release.yaml
Labels: area/cluster

chore(deps): update ghcr.io/k8s-at-home/grafana docker tag to v8.4.1
  clusters/home/monitoring/grafana/helm-release.yaml
  clusters/pueblo/monitoring/grafana/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release goldilocks to v5.3.0
  clusters/pueblo/kube-system/goldilocks/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release traefik to v10.14.2
  clusters/home/networking/traefik/helm-release.yaml
  clusters/pueblo/networking/traefik/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release loki to v2.10.1
  clusters/home/monitoring/loki/helm-release.yaml
  clusters/pueblo/monitoring/loki/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release thanos to v9.0.5
  clusters/home/monitoring/thanos/helm-release.yaml
  clusters/pueblo/monitoring/thanos/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release velero to v2.28.0
  clusters/home/backups/velero/helm-release.yaml
  clusters/pueblo/backups/velero/helm-release.yaml
Labels: area/cluster

chore(deps): update helm values ghcr.io/miguelndecarvalho/speedtest-exporter to v3.4.1
  clusters/home/monitoring/speedtest-exporter/helm-release.yaml
  clusters/pueblo/monitoring/speedtest-exporter/helm-release.yaml
Labels: area/cluster

chore(deps): update helm values filebrowser/filebrowser to v2.21.1
  clusters/home/downloads/filebrowser/helm-release.yaml
Labels: area/cluster

chore(deps): update helm values docker.io/bitnami/nginx to 1.21.6
  clusters/home/self-hosted/blog-nginx/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release grafana to v6.22.0
  clusters/home/monitoring/grafana/helm-release.yaml
  clusters/pueblo/monitoring/grafana/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release nginx to v9.7.9
  clusters/home/self-hosted/blog-nginx/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release metrics-server to v3.8.2
  clusters/home/kube-system/metrics-server/helm-release.yaml
  clusters/pueblo/kube-system/metrics-server/helm-release.yaml
Labels: area/cluster

chore(deps): update pre-commit hook lucas-c/pre-commit-hooks to v1.1.13
  .pre-commit-config.yaml
Labels: none

chore(ci): update flux components to v0.27.0
  clusters/pueblo/flux-system/install/gotk-components.yaml
Labels: area/cluster

.github/labeler.yaml:

---
area/ci:
  - ".github/**/*"
area/cluster:
  - "charts/**/*"
  - "clusters/**/*"
