Repository alonso-m/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/cluster

chore(deps): update dependency quay.io/thanos/thanos to v0.26.0
  clusters/home/monitoring/kube-prometheus-stack/helm-release.yaml
  clusters/pueblo/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v32.43.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update helm release thanos to v10.3.7
  clusters/home/monitoring/thanos/helm-release.yaml
  clusters/pueblo/monitoring/thanos/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v32.45.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update helm release echo-server to v0.4.0
  clusters/home/self-hosted/echo-server/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v32.45.2
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update helm values atlassian/bitbucket to 7.21.1
  clusters/home/development/bitbucket/helm-release.yaml
Labels: area/cluster

chore(deps): update helm values atlassian/bamboo to 8.2.2
  clusters/home/development/bamboo/helm-release.yaml
Labels: area/cluster

chore(deps): update helm values atlassian/bamboo-agent-base to 8.2.2
  clusters/home/development/bamboo-agent/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v32.45.4
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update renovatebot/github-action action to v32.45.5
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update helm release common to v4.4.2
  charts/kah-common/Chart.lock
  charts/kah-common/Chart.yaml
Labels: area/cluster

chore(deps): update helm release jellyfin to v9.4.2
  clusters/home/downloads/jellyfin/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release littlelink-server to v1.3.2
  clusters/home/self-hosted/littlelink/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release qbittorrent to v13.4.3
  clusters/home/downloads/qbittorrent/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release speedtest-exporter to v5.3.3
  clusters/home/monitoring/speedtest-exporter/helm-release.yaml
  clusters/pueblo/monitoring/speedtest-exporter/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release syncthing to v3.4.2
  clusters/home/self-hosted/syncthing/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release vaultwarden to v4.2.2
  clusters/home/self-hosted/vaultwarden/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release grafana to v6.29.2
  clusters/home/monitoring/grafana/helm-release.yaml
  clusters/pueblo/monitoring/grafana/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v32.46.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update renovatebot/github-action action to v32.46.2
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update helm values dgtlmoon/changedetection.io to 0.39.13
  clusters/home/self-hosted/changedetection-io/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release kube-prometheus-stack to v35.2.0
  clusters/home/monitoring/kube-prometheus-stack/helm-release.yaml
  clusters/pueblo/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v32.48.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update helm release nginx to v11
  clusters/home/self-hosted/blog-nginx/helm-release.yaml
Labels: area/cluster

chore(deps): update pre-commit hook lucas-c/pre-commit-hooks to v1.1.14
  .pre-commit-config.yaml
Labels: none

chore(deps): update KaH common library chart
  charts/kah-common/charts/common-4.3.0.tgz
  charts/kah-common/charts/common-4.4.0.tgz
Labels: area/cluster

chore(deps): update helm release nginx to v11.0.1
  clusters/home/self-hosted/blog-nginx/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release velero to v2.29.5
  clusters/home/backups/velero/helm-release.yaml
  clusters/pueblo/backups/velero/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release thanos to v10.3.8
  clusters/home/monitoring/thanos/helm-release.yaml
  clusters/pueblo/monitoring/thanos/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v32.50.2
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update helm release thanos to v10.3.9
  clusters/home/monitoring/thanos/helm-release.yaml
  clusters/pueblo/monitoring/thanos/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release thanos to v10.3.10
  clusters/home/monitoring/thanos/helm-release.yaml
  clusters/pueblo/monitoring/thanos/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v32.52.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update helm release nginx to v11.0.2
  clusters/home/self-hosted/blog-nginx/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v32.52.2
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update helm values atlassian/bitbucket to 8.0.0
  clusters/home/development/bitbucket/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release nginx to v11.1.0
  clusters/home/self-hosted/blog-nginx/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v32.57.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update pre-commit hook lucas-c/pre-commit-hooks to v1.1.15
  .pre-commit-config.yaml
Labels: none

.github/labeler.yaml:

---
area/ci:
  - ".github/**/*"
area/cluster:
  - "charts/**/*"
  - "clusters/**/*"
