Repository alonso-m/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/cluster

.github/labeler.yaml:

---
area/ci:
  - ".github/**/*"
area/cluster:
  - "charts/**/*"
  - "clusters/**/*"

chore(deps): update renovatebot/github-action action to v32.6.4
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

Making grafana accessible
  .github/renovate/autoMerge.json
  clusters/pueblo/kube-system/kustomization.yaml
  clusters/pueblo/monitoring/grafana/helm-release.yaml
Labels: area/ci, area/cluster

chore(deps): update helm release nginx to v9.9.4
  clusters/home/self-hosted/blog-nginx/helm-release.yaml
Labels: area/cluster

Making grafana accessible
  clusters/pueblo/monitoring/kustomization.yaml
Labels: area/cluster

Making grafana accessible
  clusters/pueblo/monitoring/kustomization.yaml
Labels: area/cluster

chore(deps): update helm release kube-prometheus-stack to v34.1.1
  clusters/home/monitoring/kube-prometheus-stack/helm-release.yaml
  clusters/pueblo/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release nginx to v9.9.5
  clusters/home/self-hosted/blog-nginx/helm-release.yaml
Labels: area/cluster

chore(deps): update dependency rclone/rclone to 1.58
  clusters/home/self-hosted/minio/backups/rclone-cronjob.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v32.6.5
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update helm release thanos to v10.2.1
  clusters/home/monitoring/thanos/helm-release.yaml
  clusters/pueblo/monitoring/thanos/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v32.6.7
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update helm release thanos to v10.2.2
  clusters/home/monitoring/thanos/helm-release.yaml
  clusters/pueblo/monitoring/thanos/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v32.6.8
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update rancher/system-upgrade-controller docker tag to v0.9.1
  clusters/home/kube-system/system-upgrade/kustomization.yaml
  clusters/pueblo/kube-system/system-upgrade/kustomization.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v32.6.9
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update helm release kube-cleanup-operator to v1.0.3
  clusters/home/kube-system/kube-cleanup-operator/helm-release.yaml
  clusters/pueblo/kube-system/kube-cleanup-operator/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v32.6.10
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update peter-evans/create-pull-request action to v4
  .github/workflows/schedule-flux-home.yaml
  .github/workflows/schedule-flux-pueblo.yaml
  .github/workflows/schedule-kah-common.yaml
Labels: area/ci

chore(deps): update helm values dgtlmoon/changedetection.io to 0.39.11
  clusters/home/self-hosted/changedetection-io/helm-release.yaml
Labels: area/cluster

chore(ci): update flux components to v0.28.0
  clusters/pueblo/flux-system/install/gotk-components.yaml
Labels: area/cluster

chore(ci): update flux components to v0.28.0
  clusters/home/flux-system/install/gotk-components.yaml
Labels: area/cluster

chore(deps): update helm release cert-manager to v1.7.2
  clusters/home/cert-manager/helm-release.yaml
  clusters/pueblo/cert-manager/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release bamboo to v1.3.0
  clusters/home/development/bamboo/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release bamboo-agent to v1.3.0
  clusters/home/development/bamboo-agent/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release bitbucket to v1.3.0
  clusters/home/development/bitbucket/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v32.6.12
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(ci): update flux components to v0.28.1
  clusters/home/flux-system/install/gotk-components.yaml
Labels: area/cluster

chore(ci): update flux components to v0.28.1
  clusters/pueblo/flux-system/install/gotk-components.yaml
Labels: area/cluster

chore(deps): update dependency quay.io/thanos/thanos to v0.25.2
  clusters/home/monitoring/kube-prometheus-stack/helm-release.yaml
  clusters/pueblo/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release thanos to v10.2.3
  clusters/home/monitoring/thanos/helm-release.yaml
  clusters/pueblo/monitoring/thanos/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v32.7.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update helm release reloader to v0.0.110
  clusters/home/kube-system/reloader/helm-release.yaml
  clusters/pueblo/kube-system/reloader/helm-release.yaml
Labels: area/cluster

chore(deps): update helm values ghcr.io/k8s-at-home/qbittorrent to v4.4.2
  clusters/home/downloads/qbittorrent/helm-release.yaml
Labels: area/cluster

chore(ci): update flux components to v0.28.2
  clusters/pueblo/flux-system/install/gotk-components.yaml
Labels: area/cluster

chore(ci): update flux components to v0.28.2
  clusters/home/flux-system/install/gotk-components.yaml
Labels: area/cluster

chore(deps): update helm values ghcr.io/miguelndecarvalho/speedtest-exporter to v3.4.2
  clusters/home/monitoring/speedtest-exporter/helm-release.yaml
  clusters/pueblo/monitoring/speedtest-exporter/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v32.7.4
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update helm release loki to v2.10.2
  clusters/home/monitoring/loki/helm-release.yaml
  clusters/pueblo/monitoring/loki/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release kube-prometheus-stack to v34.2.0
  clusters/home/monitoring/kube-prometheus-stack/helm-release.yaml
  clusters/pueblo/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release nginx to v9.9.6
  clusters/home/self-hosted/blog-nginx/helm-release.yaml
Labels: area/cluster
