Repository alonso-m/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/cluster

.github/labeler.yaml:

---
area/ci:
  - ".github/**/*"
area/cluster:
  - "charts/**/*"
  - "clusters/**/*"

chore(deps): update renovatebot/github-action action to v31.61.2
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update renovatebot/github-action action to v31.62.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update renovatebot/github-action action to v31.63.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update dependency xanmanning.k3s to v3.1.0
  provision/ansible/requirements.yml
Labels: none

chore(deps): update renovatebot/github-action action to v31.63.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update renovatebot/github-action action to v31.63.2
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update ghcr.io/k8s-at-home/vaultwarden docker tag to v1.24.0
  clusters/home/self-hosted/vaultwarden/helm-release.yaml
Labels: area/cluster

chore(deps): update pre-commit hook lucas-c/pre-commit-hooks to v1.1.11
  .pre-commit-config.yaml
Labels: none

chore(deps): update renovatebot/github-action action to v31.64.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update helm release traefik to v10.11.1
  clusters/home/networking/traefik/helm-release.yaml
  clusters/pueblo/networking/traefik/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release grafana to v6.21.2
  clusters/home/monitoring/grafana/helm-release.yaml
  clusters/pueblo/monitoring/grafana/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v31.64.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

Changing cluster name
  .github/renovate/autoMerge.json
  .github/workflows/helm-release-differ.yaml
Labels: area/ci

Disabling
  .github/renovate/autoMerge.json
  clusters/home/downloads/kustomization.yaml
  clusters/home/monitoring/kustomization.yaml
Labels: area/ci, area/cluster

Enabling
  clusters/home/downloads/kustomization.yaml
  clusters/home/monitoring/kustomization.yaml
Labels: area/cluster

chore(deps): update helm release traefik to v10.13.0
  clusters/home/networking/traefik/helm-release.yaml
  clusters/pueblo/networking/traefik/helm-release.yaml
Labels: area/cluster

Adding qbittorrent
  clusters/home/downloads/kustomization.yaml
  clusters/home/downloads/qbittorrent/helm-release.yaml
  clusters/home/downloads/qbittorrent/kustomization.yaml
  clusters/home/downloads/qbittorrent/openvpn-auth.sops.yaml
  clusters/home/downloads/qbittorrent/openvpn-config.sops.yaml
  clusters/home/downloads/qbittorrent/pvc.yaml
  clusters/home/downloads/transmission/helm-release copy.yaml
Labels: area/cluster

Adding qbittorrent
  clusters/home/downloads/qbittorrent/kustomization.yaml
Labels: area/cluster

Adding qbittorrent
  clusters/home/downloads/qbittorrent/helm-release.yaml
Labels: area/cluster

Adding qbittorrent
  clusters/home/downloads/qbittorrent/helm-release.yaml
Labels: area/cluster

Adding qbittorrent
  clusters/home/downloads/kustomization.yaml
Labels: area/cluster

Adding qbittorrent
  clusters/home/downloads/kustomization.yaml
Labels: area/cluster

Adding qbittorrent
  clusters/home/downloads/qbittorrent/helm-release.yaml
Labels: area/cluster

Adding qbittorrent
  clusters/home/downloads/qbittorrent/helm-release.yaml
Labels: area/cluster

Adding qbittorrent
  clusters/home/downloads/qbittorrent/helm-release.yaml
Labels: area/cluster

Adding qbittorrent
  clusters/home/downloads/qbittorrent/helm-release.yaml
Labels: area/cluster

Adding qbittorrent
  clusters/home/downloads/qbittorrent/helm-release.yaml
Labels: area/cluster

chore(deps): update ghcr.io/k8s-at-home/qbittorrent docker tag to v4.4.0
  clusters/home/downloads/qbittorrent/helm-release.yaml
Labels: area/cluster

Adding qbittorrent
  clusters/home/downloads/qbittorrent/helm-release.yaml
Labels: area/cluster

Adding qbittorrent
  clusters/home/downloads/qbittorrent/helm-release.yaml
Labels: area/cluster

Adding qbittorrent
  clusters/home/downloads/qbittorrent/helm-release.yaml
Labels: area/cluster

Adding qbittorrent
  clusters/home/downloads/qbittorrent/helm-release.yaml
Labels: area/cluster

Adding qbittorrent
  clusters/home/downloads/qbittorrent/helm-release.yaml
Labels: area/cluster

Adding qbittorrent
  clusters/home/downloads/qbittorrent/helm-release.yaml
Labels: area/cluster

Adding qbittorrent
  clusters/home/downloads/qbittorrent/helm-release.yaml
Labels: area/cluster

Adding qbittorrent
  clusters/home/downloads/qbittorrent/helm-release.yaml
  clusters/home/downloads/transmission/helm-release copy.yaml
  clusters/home/downloads/transmission/kustomization.yaml
  clusters/home/downloads/transmission/openvpn-auth.sops.yaml
  clusters/home/downloads/transmission/openvpn-config.sops.yaml
  clusters/home/downloads/transmission/secrets.sops.yaml
Labels: area/cluster

Adding qbittorrent
  clusters/home/downloads/qbittorrent/helm-release.yaml
Labels: area/cluster

Modifying grafana settings
  clusters/home/monitoring/grafana/helm-release.yaml
Labels: area/cluster

Adding loadbalancer IP
  clusters/home/downloads/qbittorrent/helm-release.yaml
  clusters/home/flux-system/deploy/cluster-settings.yaml
Labels: area/cluster

Fixing grafana in pueblo
  clusters/pueblo/monitoring/grafana/helm-release.yaml
Labels: area/cluster
