Repository alonso-m/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/cluster

chore(deps): update helm values ghcr.io/k8s-at-home/loki to v2.6.0
  clusters/home/monitoring/loki/helm-release.yaml
  clusters/pueblo/monitoring/loki/helm-release.yaml
Labels: area/cluster

chore(deps): update helm values ghcr.io/k8s-at-home/promtail to v2.6.0
  clusters/home/monitoring/promtail/helm-release.yaml
  clusters/pueblo/monitoring/promtail/helm-release.yaml
Labels: area/cluster

chore(deps): update pre-commit hook adrienverge/yamllint to v1.27.1
  .pre-commit-config.yaml
Labels: none

chore(deps): update renovatebot/github-action action to v32.107.2
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update renovatebot/github-action action to v32.108.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update dependency rclone/rclone to 1.59
  clusters/home/self-hosted/minio/backups/rclone-cronjob.yaml
Labels: area/cluster

chore(deps): update helm release loki to v2.13.1
  clusters/home/monitoring/loki/helm-release.yaml
  clusters/pueblo/monitoring/loki/helm-release.yaml
Labels: area/cluster

chore(deps): update helm values pihole/pihole to 2022.07.1
  clusters/home/networking/pihole/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v32.109.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update helm release kube-prometheus-stack to v36.6.2
  clusters/home/monitoring/kube-prometheus-stack/helm-release.yaml
  clusters/pueblo/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v32.110.2
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(ci): update flux components to v0.31.3
  clusters/pueblo/flux-system/install/gotk-components.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v32.111.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update helm release goldilocks to v6.1.4
  clusters/pueblo/kube-system/goldilocks/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release promtail to v6.2.1
  clusters/home/monitoring/promtail/helm-release.yaml
  clusters/pueblo/monitoring/promtail/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v32.111.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update helm release nginx to v13.1.1
  clusters/home/self-hosted/blog-nginx/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v32.111.2
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update helm release kube-prometheus-stack to v37
  clusters/home/monitoring/kube-prometheus-stack/helm-release.yaml
  clusters/pueblo/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

chore(deps): update helm values ghcr.io/k8s-at-home/kubectl to v1.24.3
  clusters/home/backups/velero/helm-release.yaml
  clusters/pueblo/backups/velero/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v32.112.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update helm release nginx to v13.1.2
  clusters/home/self-hosted/blog-nginx/helm-release.yaml
Labels: area/cluster

chore(deps): update helm values ghcr.io/k8s-at-home/grafana to v9.0.3
  clusters/home/monitoring/grafana/helm-release.yaml
  clusters/pueblo/monitoring/grafana/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v32.115.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update helm release bamboo to v1.5.0
  clusters/home/development/bamboo/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release bamboo-agent to v1.5.0
  clusters/home/development/bamboo-agent/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release bitbucket to v1.5.0
  clusters/home/development/bitbucket/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release reloader to v0.0.118
  clusters/home/kube-system/reloader/helm-release.yaml
  clusters/pueblo/kube-system/reloader/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release openebs to v3.3.0
  clusters/home/openebs/helm-release.yaml
  clusters/pueblo/openebs/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release thanos to v11
  clusters/home/monitoring/thanos/helm-release.yaml
  clusters/pueblo/monitoring/thanos/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v32.117.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update helm values ghcr.io/miguelndecarvalho/speedtest-exporter to v3.5.2
  clusters/home/monitoring/speedtest-exporter/helm-release.yaml
  clusters/pueblo/monitoring/speedtest-exporter/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v32.117.2
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update helm values ghcr.io/k8s-at-home/vaultwarden to v1.25.1
  clusters/home/self-hosted/vaultwarden/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v32.117.3
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update renovatebot/github-action action to v32.118.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update helm release echo-server to v0.5.0
  clusters/home/self-hosted/echo-server/helm-release.yaml
Labels: area/cluster

chore(deps): update helm values ealen/echo-server to 0.6.0
  clusters/home/self-hosted/echo-server/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release grafana to v6.32.3
  clusters/home/monitoring/grafana/helm-release.yaml
  clusters/pueblo/monitoring/grafana/helm-release.yaml
Labels: area/cluster

chore(deps): update helm values ghcr.io/k8s-at-home/loki to v2.6.1
  clusters/home/monitoring/loki/helm-release.yaml
  clusters/pueblo/monitoring/loki/helm-release.yaml
Labels: area/cluster

.github/labeler.yaml:

---
area/ci:
  - ".github/**/*"
area/cluster:
  - "charts/**/*"
  - "clusters/**/*"
