Repository alonso-m/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/cluster

chore(deps): update dgtlmoon/changedetection.io docker tag to 0.42.2
  clusters/home/self-hosted/changedetection-io/helm-release.yaml
Labels: area/cluster

chore(ci): update flux components to v2.0.0-rc.3
  clusters/home/flux-system/install/gotk-components.yaml
Labels: area/cluster

chore(deps): update pascalgn/size-label-action action to v0.5.0
  .github/workflows/meta-label-size.yaml
Labels: area/ci

chore(ci): update flux components to v2.0.0-rc.4
  clusters/home/flux-system/install/gotk-components.yaml
Labels: area/cluster

chore(deps): update helm release kube-prometheus-stack to v46
  clusters/home/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

chore(deps): update dgtlmoon/changedetection.io docker tag to 0.42.3
  clusters/home/self-hosted/changedetection-io/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release raw to v0.3.2
  clusters/home/networking/metallb/config/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release cert-manager to v1.11.4
  clusters/home/cert-manager/helm-release.yaml
Labels: area/cluster

chore(deps): update dgtlmoon/changedetection.io docker tag to 0.43.1
  clusters/home/self-hosted/changedetection-io/helm-release.yaml
Labels: area/cluster

chore(deps): update ghcr.io/miguelndecarvalho/speedtest-exporter docker tag to v3.5.4
  clusters/home/monitoring/speedtest-exporter/helm-release.yaml
Labels: area/cluster

chore(deps): update dgtlmoon/changedetection.io docker tag to 0.43.2
  clusters/home/self-hosted/changedetection-io/helm-release.yaml
Labels: area/cluster

chore(ci): update flux components to v2.0.0-rc.5
  clusters/home/flux-system/install/gotk-components.yaml
Labels: area/cluster

chore(ci): update flux components to v2.0.0
  clusters/home/flux-system/install/gotk-components.yaml
Labels: area/cluster

chore(deps): update helm release kube-prometheus-stack to v47
  clusters/home/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v38
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update helm release traefik to v23
  clusters/home/networking/traefik/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release metrics-server to v3.11.0
  clusters/home/kube-system/metrics-server/helm-release.yaml
Labels: area/cluster

chore(deps): update pre-commit hook lucas-c/pre-commit-hooks to v1.5.2
  .pre-commit-config.yaml
Labels: none

chore(deps): update pre-commit hook lucas-c/pre-commit-hooks to v1.5.3
  .pre-commit-config.yaml
Labels: none

chore(deps): update ealen/echo-server docker tag to 0.7.1
  clusters/home/self-hosted/echo-server/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release velero to v4
  clusters/home/backups/velero/helm-release.yaml
Labels: area/cluster

chore(deps): update syncthing/syncthing docker tag to 1.23.7
  clusters/home/self-hosted/syncthing/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release traefik to v24
  clusters/home/networking/traefik/helm-release.yaml
Labels: area/cluster

chore(deps): update pre-commit hook lucas-c/pre-commit-hooks to v1.5.4
  .pre-commit-config.yaml
Labels: none

chore(ci): update flux components to v2.0.1
  clusters/home/flux-system/install/gotk-components.yaml
Labels: area/cluster

chore(deps): update helm release kube-prometheus-stack to v48
  clusters/home/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

chore(deps): update dgtlmoon/changedetection.io docker tag to 0.44.2
  clusters/home/self-hosted/changedetection-io/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release kube-prometheus-stack to v49
  clusters/home/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release cert-manager to v1.11.5
  clusters/home/cert-manager/helm-release.yaml
Labels: area/cluster

chore(deps): update actions/checkout action to v4
  .github/workflows/lint.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/schedule-flux-home.yaml
  .github/workflows/schedule-flux-pueblo.yaml
  .github/workflows/schedule-kah-common.yaml
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update helm release kube-prometheus-stack to v50
  clusters/home/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

chore(deps): update dgtlmoon/changedetection.io docker tag to 0.45.1
  clusters/home/self-hosted/changedetection-io/helm-release.yaml
Labels: area/cluster

chore(ci): update flux components to v2.1.0
  clusters/home/flux-system/install/gotk-components.yaml
Labels: area/cluster

chore(deps): update tibdex/github-app-token action to v2
  .github/workflows/lint.yaml
  .github/workflows/meta-label-size.yaml
  .github/workflows/meta-labeler.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/schedule-flux-home.yaml
  .github/workflows/schedule-flux-pueblo.yaml
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update dgtlmoon/changedetection.io docker tag to 0.45.2
  clusters/home/self-hosted/changedetection-io/helm-release.yaml
Labels: area/cluster

Add Flux v2.1.0 component manifests
  clusters/home/flux-system/gotk-components.yaml
Labels: area/cluster

chore(deps): update dgtlmoon/changedetection.io docker tag to 0.45.3
  clusters/home/self-hosted/changedetection-io/helm-release.yaml
Labels: area/cluster

chore(deps): update pre-commit hook pre-commit/pre-commit-hooks to v4.5.0
  .pre-commit-config.yaml
Labels: none

chore(ci): update flux components to v2.1.1
  clusters/home/flux-system/install/gotk-components.yaml
Labels: area/cluster

chore(deps): update dependency fluxcd/flux2 to v2.1.2
  clusters/home/flux-system/gotk-components.yaml
Labels: area/cluster

.github/labeler.yaml:

---
area/ci:
  - ".github/**/*"
area/cluster:
  - "charts/**/*"
  - "clusters/**/*"
