Repository alonso-m/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/cluster

.github/labeler.yaml:

---
area/ci:
  - ".github/**/*"
area/cluster:
  - "charts/**/*"
  - "clusters/**/*"

chore(deps): update renovatebot/github-action action to v32.10.6
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update helm release kube-prometheus-stack to v34.8.0
  clusters/home/monitoring/kube-prometheus-stack/helm-release.yaml
  clusters/pueblo/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release grafana to v6.25.1
  clusters/home/monitoring/grafana/helm-release.yaml
  clusters/pueblo/monitoring/grafana/helm-release.yaml
Labels: area/cluster

chore(deps): update helm values pihole/pihole to 2022.04.2
  clusters/home/networking/pihole/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v32.11.2
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update helm release loki to v2.10.3
  clusters/home/monitoring/loki/helm-release.yaml
  clusters/pueblo/monitoring/loki/helm-release.yaml
Labels: area/cluster

chore(deps): update helm values syncthing/syncthing to 1.19.2
  clusters/home/self-hosted/syncthing/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v32.11.3
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update helm release nginx to v10
  clusters/home/self-hosted/blog-nginx/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release cert-manager to v1.8.0
  clusters/home/cert-manager/helm-release.yaml
  clusters/pueblo/cert-manager/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v32.12.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update helm release thanos to v10.3.2
  clusters/home/monitoring/thanos/helm-release.yaml
  clusters/pueblo/monitoring/thanos/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release grafana to v6.26.0
  clusters/home/monitoring/grafana/helm-release.yaml
  clusters/pueblo/monitoring/grafana/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release kube-prometheus-stack to v34.9.0
  clusters/home/monitoring/kube-prometheus-stack/helm-release.yaml
  clusters/pueblo/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

chore(deps): update pre-commit hook pre-commit/pre-commit-hooks to v4.2.0
  .pre-commit-config.yaml
Labels: none

chore(deps): update renovatebot/github-action action to v32.14.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update helm release nginx to v10.0.1
  clusters/home/self-hosted/blog-nginx/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v32.14.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update ghcr.io/k8s-at-home/loki docker tag to v2.5.0
  clusters/home/monitoring/loki/helm-release.yaml
  clusters/pueblo/monitoring/loki/helm-release.yaml
Labels: area/cluster

chore(deps): update ghcr.io/k8s-at-home/promtail docker tag to v2.5.0
  clusters/home/monitoring/promtail/helm-release.yaml
  clusters/pueblo/monitoring/promtail/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release thanos to v10.3.3
  clusters/home/monitoring/thanos/helm-release.yaml
  clusters/pueblo/monitoring/thanos/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release loki to v2.11.0
  clusters/home/monitoring/loki/helm-release.yaml
  clusters/pueblo/monitoring/loki/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release promtail to v4
  clusters/home/monitoring/promtail/helm-release.yaml
  clusters/pueblo/monitoring/promtail/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v32.16.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update renovatebot/github-action action to v32.17.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update helm values atlassian/bamboo-agent-base to 8.1.5
  clusters/home/development/bamboo-agent/helm-release.yaml
Labels: area/cluster

chore(deps): update helm values atlassian/bamboo-agent-base to 8.2.1
  clusters/home/development/bamboo-agent/helm-release.yaml
Labels: area/cluster

chore(deps): update helm values atlassian/bamboo to 8.1.5
  clusters/home/development/bamboo/helm-release.yaml
Labels: area/cluster

chore(deps): update helm values atlassian/bamboo to 8.2.1
  clusters/home/development/bamboo/helm-release.yaml
Labels: area/cluster

chore(deps): update helm values dgtlmoon/changedetection.io to 0.39.12
  clusters/home/self-hosted/changedetection-io/helm-release.yaml
Labels: area/cluster

chore(deps): update helm values ghcr.io/miguelndecarvalho/speedtest-exporter to v3.5.0
  clusters/home/monitoring/speedtest-exporter/helm-release.yaml
  clusters/pueblo/monitoring/speedtest-exporter/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v32.17.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update renovatebot/github-action action to v32.19.0
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update helm values ghcr.io/k8s-at-home/grafana to v8.4.6
  clusters/home/monitoring/grafana/helm-release.yaml
  clusters/pueblo/monitoring/grafana/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v32.19.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update helm release grafana to v6.26.1
  clusters/home/monitoring/grafana/helm-release.yaml
  clusters/pueblo/monitoring/grafana/helm-release.yaml
Labels: area/cluster

chore(deps): update helm values ghcr.io/miguelndecarvalho/speedtest-exporter to v3.5.1
  clusters/home/monitoring/speedtest-exporter/helm-release.yaml
  clusters/pueblo/monitoring/speedtest-exporter/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v32.20.1
  .github/workflows/schedule-renovate.yaml
Labels: area/ci

chore(deps): update helm release kube-prometheus-stack to v34.9.1
  clusters/home/monitoring/kube-prometheus-stack/helm-release.yaml
  clusters/pueblo/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

chore(deps): update helm release thanos to v10.3.4
  clusters/home/monitoring/thanos/helm-release.yaml
  clusters/pueblo/monitoring/thanos/helm-release.yaml
Labels: area/cluster
